<div class="flex justify-between items-center border-b border-gray-200 py-4">
  <div class="max-w-[60%]">
    <h3 class="text-lg font-semibold">{{ item.name }}</h3>
    <p class="text-lg font-bold text-gray-800">₹{{ item.price }}</p>
    <p class="text-green-600 text-sm mt-1">⭐ {{ item.rating }}</p>
    <p class="text-gray-600 text-sm">{{ item.description }}</p>
  </div>
  <div class="text-center">
    <img [src]="item.img_url" alt="{{ item.name }}" class="w-28 h-auto rounded-md mb-2" />
    <div class="flex items-center justify-center gap-2">
      <button (click)="addToCartHandler()" class="bg-white text-green-500 px-4 py-1 rounded font-bold border border-gray-300 shadow-lg">
        ADD
      </button>
      <button (click)="toggleFavorite(item)" class="text-xl">
        <i class="{{ isFavorite(item) ? 'fas fa-heart text-red-500' : 'far fa-heart text-gray-500' }} 
           transition-colors duration-300 ease-in-out hover:text-red-400"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="showToast" class="fixed bottom-4 left-1/2 transform -translate-x-1/2 bg-green-500 text-white py-2 px-4 rounded-lg shadow-lg text-sm">
  Item added to cart!
</div>